<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/klaus.css">
<link rel="stylesheet" href="/static/output.css">
<link
  rel="stylesheet"
  href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.3.1/build/styles/github.min.css"
>
<link rel=icon type="image/png" href="/static/favicon.png">
{{#if meta.base_href}}
  <base href="{{ meta.base_href }}">
{{/if}}
<title>{{ context.repoName }} ({{ context.rev }}) - {{ SITE_NAME }}</title>

<script src="/static/klaus.js"></script>

<header class="container mx-auto pb-4 pt-8 flex items-end font-semibold">
  <a class="hover:underline" href="/{{ context.repoName }}">{{ context.repoName }}</a>
  {{#if context.subpaths}}
    <span class="text-gray-300 mx-1 font-light">/</span>
    {{#each context.subpaths}}
      {{#if href}}
        {{#eq ../context.view "commits"}}
          <a class="hover:underline font-light" href="/{{ ../context.repoName }}/commits/{{ ../context.rev }}/{{ href }}">{{dir}}</a>
        {{else}}
          <a class="hover:underline font-light" href="/{{ ../context.repoName }}/tree/{{ ../context.rev }}/{{ href }}">{{dir}}</a>
        {{/eq}}
          <span class="text-gray-300 mx-1">/</span>
      {{else}}
        <span class="font-light">{{dir}}</span>
      {{/if}}
    {{/each}}
  {{/if}}

  {{#if info.remoteLink}}
    <a
      target="_blank"
      href="{{ info.remoteLink }}"
      style="
        position: absolute; top: 2px; right: 100px;
        color: grey;"
    >Check on GH</a>
  {{/if}}

  {{#unless no_branch_selector}}
    {{> branch_selector}}
  {{/unless}}
</header>

<div>
  {{{ body }}}
</div>
